# supabase db
# https://supabase.com/
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_NAME=postgres
DB_USERNAME=postgres.******
DB_PASSWORD=******
# groq
GROQ_API_KEY=gsk_******
# cloudflare
CF_ACCOUNT_ID=******
CF_API_TOKEN=************
# supabase storage
STORAGE_ENDPOINT=https://******.storage.supabase.co/storage/v1/s3
STORAGE_REGION=ap-northeast-2
STORAGE_ACCESS_KEY=******
STORAGE_SECRET_KEY=************
STORAGE_BUCKET=gen