# supabase db
# https://supabase.com/
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_NAME=postgres
DB_USERNAME=postgres.******
DB_PASSWORD=******
# groq
GROQ_API_KEY=
# cloudflare
CF_ACOUNT_ID=******
CF_API_TOKEN=************